li{
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;

  .img{
    font-size: 20px;
    color: #ccc;
  }
  .power{
    border-radius: 5px;
    height: 8px;
    background: lightgreen;
  }
}